$breakpoint-1: 1366px;
$breakpoint-2: 1112px;
$breakpoint-3: 530px;
$section-padding-sides: 4.8rem;
$section-padding-sides-small: 2.6rem;
$main-width: 1010px;
$two-thirds-width: 676px;
$one-col: 302px;
$col-1: 33%;
$col-2: 67%;
$main-inner-padding: 2.4rem;

$colour-1: #e9e9e9;
$colour-2: #ffffff;
$colour-3: #000000;

@media (min-width: $breakpoint-3) {
    $main-inner-padding: 3.2rem;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import 'flexboxgrid';

html, body {
    margin: 0;
}
img {
    max-width: 100%;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

em,strong, a, .small-caps {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.small-caps {
    font-variant: small-caps;
}

p {
    font-family: 'Crimson Pro', serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7em;
    width: 100%;
    margin-bottom: 1.2em;
    padding-left: $section-padding-sides-small;
    padding-right: $section-padding-sides-small;

    @media (min-width: $breakpoint-3) {
        font-size: 2rem;
        padding-left: $main-inner-padding;
        padding-right: 0;
    }

    @media (min-width: $breakpoint-2) {
        max-width: $col-2;
    }
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem $section-padding-sides-small 3.2rem $section-padding-sides-small;

    .logo {

        & :first-child {
        font-family: 'Crimson Pro', serif;
        font-size: 2.4rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.05em;
        }

        & :last-child {
            font-family: 'Work Sans', sans serif;
            font-size: 1.4rem;
            text-align: center;
        }

        @media(min-width: $breakpoint-3) {
            & :first-child {
                font-size: 5rem;
            }

            & :last-child {
                font-size: 2rem;
            }
        }
    }

    .menu, .spacer {
        width: 3rem;

        .line {
            height: 2px;
            width: 100%;
            background-color: black;
            margin-bottom: 1rem;

            &.last {margin-bottom: 0;}
        }

    }

    @media (min-width: $breakpoint-3) {
        padding: 2.8rem $section-padding-sides 3.2rem $section-padding-sides;
        .menu, .spacer {
            width: 4rem;
        }
    }
}

article {
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4.8rem;
    padding-bottom: 7.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: $colour-3;

    h1, h2, .slug, .author {
        color: $colour-2;
    }

    .headline-container {
        position: relative;
        max-width: $two-thirds-width;
        width: 100%;
        padding: 0 $section-padding-sides-small;
        z-index: 20;
    }

    h1 {
        font-family: acumin-pro, sans-serif;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.1em;
        margin-bottom: 0.5em;
    }
    
    h2 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.2em;
        margin-bottom: 1em;
    }
    
    .slug {
        font-family: 'Crimson Pro', serif;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 1.2em;
        margin-bottom: 1em;
    }
    
    .author {
        font-family: 'Crimson Pro', serif;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 1.2em;
        font-style: italic;
    }

    @media(min-width: $breakpoint-3) {
        .headline-container {padding: 0 $section-padding-sides;}
        h1 {font-size: 4.8rem;}
        h2 {font-size: 2.8rem;}
        .author {font-size: 2.8rem;}
    }
    
    @media(min-width: $breakpoint-2){
        h1 {
            font-size: 6.2rem;
            margin-bottom: 0.3em;
        }
        h2 {font-size: 3.2rem;}
        .headline-container{max-width: $main-width;}
    }

    @media(min-width: $breakpoint-1){
        //* height: 60vh;
        h1 {font-size: 8.6rem;}
        .headline-container {
            max-width: 1337px;
        }
    }

}

main {
}

section {

    @media(min-width: $breakpoint-3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    width: 100%;
}

.alt-bg {
    background-color: $colour-1;
}

.section-wrapper {

    @media (min-width: $breakpoint-3) {
        max-width: $two-thirds-width;
        padding-left: $section-padding-sides;
        padding-right: $section-padding-sides;
    }
    @media (min-width: $breakpoint-2) {
        max-width: $main-width;
    }

    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


blockquote {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: $section-padding-sides-small;
    padding-bottom: 2.4rem;

    @media(min-width: $breakpoint-3) {
        .source {
            max-width: 75%;
        }
        .quote-text {
            font-size: 3rem;
            line-height: 1.3em;
        }
        .quote-author {font-size: 2rem;}
        margin-left: 0;
        width: 100%;
    }
    
    @media(min-width: $breakpoint-2) {
        flex-direction: row-reverse;
        padding-bottom: 0;
        .source {max-width: 100%;}
    }

    p {
        max-width: 100%;
        padding-left: 0;
    }
}

.quote {
    padding-left: $main-inner-padding;
    border-left-style: solid;
    border-left-width: 1px;
    margin-bottom: 2.4rem;
    width: 100%;
    
    @media(min-width: $breakpoint-2) {
        max-width: $col-2;
    }
}

.quote-text {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 0.6em;
}

.quote-author {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0;
}

.source {

    padding-left: $main-inner-padding;
    max-width: 100%;

    @media(min-width:$breakpoint-2){
        position: absolute;
        top: 0;
        left: 0;
        width: $col-1;
        padding-right: $main-inner-padding;
        padding-left: 0;
    }
    
    //* p {opacity: 0;}

    .source-ref {
        margin-bottom: 0;
    }
}

.source-number {
    font-size: 3rem;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    font-weight: 500;
}

.source-text {
    font-size: 1.65rem;
    font-weight: 500;
    &.outdent {text-indent: -0.43em;}
}

.source-ref {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    &.outdent {text-indent: -0.37em;}
}

sup {
    position: relative;
    vertical-align: top;
    font-family: 'Crimson Pro', serif;
    font-size: 0.7em;
    top: -0.24em;
    margin-left: 0.2em;
}

.featured {

    padding-top: 4rem;
    padding-bottom: 4.5rem;
    max-width: 100%;
    align-self: flex-start;

    p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 2.2rem;
        max-width: 100%;
        padding: 0 $section-padding-sides-small;
    }

    @media (min-width: $breakpoint-3) {
        //* padding: 0 0;
        p {
            font-size: 3rem;
        padding: 0 0;
        }
    }

    @media (min-width: $breakpoint-2) {
        max-width: 83.3%;
    }
}

.image-small, .image-medium {
    position: relative;
    font-size: 2rem;
    margin: 0 0 1.2em 0;
    width: 100%;
    p {
        max-width: 100%;
    }
}

.image-small {

    font-size: 2rem;
    figcaption {margin-top: 1.2em;}

    p {padding: 0 $section-padding-sides-small;}

    @media (min-width: $breakpoint-3) {
        p {padding-left: 0;}
    }

    @media (min-width: $breakpoint-2) {
        .source-ref {
            margin-bottom: 0;
        }
        img {
            width: $col-2;
            padding-left: $main-inner-padding;
        }
        figcaption {
            width: $col-1;
            padding-right: $main-inner-padding;
        }
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
}

.image-medium {
    figcaption {
        font-size: 2rem;
        margin-top: 1.2em;

        p {padding: 0 $section-padding-sides-small;}

        @media(min-width: $breakpoint-3) {
            p {padding-left: 0;}
        }
        @media(min-width: $breakpoint-2){
            position: absolute;
            width: $col-1;
            padding-right: $main-inner-padding;
        }
    }
}

.image-headline {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10;

    .image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .image-overlay {
        background-color: $colour-3;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //* mix-blend-mode: overlay;
        opacity: 65%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @media(min-width: $breakpoint-2) {
        width: 50%;
        justify-content: flex-end;

    }
}
