$breakpoint-1: 1366px;
$section-padding-sides: 4.8rem;
$main-width: 1010px;
$col-1: 33%;
$col-2: 67%;
$main-inner-padding: 3.2rem;

$colour-1: #e9e9e9;

* {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import 'flexboxgrid';

html, body {
    margin: 0;
}
img {
    max-width: 100%;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

em,strong {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

p {
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5em;
    max-width: $col-2;
    width: 100%;
    margin-bottom: 1.2em;
    padding-left: $main-inner-padding;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 4.8rem 3.2rem 4.8rem;

    .logo {

        & :first-child {
        font-family: 'Crimson Pro', serif;
        font-size: 5rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.05em;
        }

        & :last-child {
            font-family: 'Work Sans', sans serif;
            font-size: 2rem;
            text-align: center;
        }
    }

    .menu, .spacer {
        height: 4rem;
        width: 4rem;

        .line {
            height: 2px;
            width: 100%;
            background-color: black;
            margin-bottom: 1rem;

            &.last {margin-bottom: 0;}
        }

    }
}

article {
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4.8rem;
    padding-bottom: 7.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .headline-container {
        max-width: $main-width;
        width: 100%;
        padding: 0 $section-padding-sides;
    }

    h1 {
        font-family: acumin-pro, sans-serif;
        font-weight: 700;
        font-size: 6.2rem;
        line-height: 1.1em;
        margin-bottom: 0.3em;
    }
    
    h2 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 1.2em;
        margin-bottom: 1em;
    }
    
    .slug {
        font-family: 'Crimson Pro', serif;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 1.2em;
        margin-bottom: 1em;
    }
    
    .author {
        font-family: 'Crimson Pro', serif;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 1.2em;
        font-style: italic;
    }

    @media(min-width: 1366px){
        //* height: 60vh;
        h1 {font-size: 8.6rem;}
        .headline-container {
            max-width: 1337px;
        }
    }

}

main {
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alt-bg {
    background-color: $colour-1;
}

.section-wrapper {
    max-width: $main-width;
    padding-top: 7.2rem;
    padding-left: $section-padding-sides;
    padding-right: $section-padding-sides;
    padding-bottom: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


blockquote {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    p {
        max-width: 100%;
        padding-left: 0;
    }
}

.quote {
    width: $col-2;
    padding-left: $main-inner-padding;
    border-left-style: solid;
    border-left-width: 1px;
    margin-bottom: 2.4rem;
}

.quote-text {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.6em;
}

.quote-author {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.source {
    position: absolute;
    top: 0;
    left: 0;
    width: $col-1;
    padding-right: $main-inner-padding;
    
    //* p {opacity: 0;}

    .source-ref {
        margin-bottom: 0;
    }
}

.source-number {
    font-size: 3rem;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    font-weight: 500;
}

.source-text {
    font-size: 1.65rem;
    font-weight: 500;
    &.outdent {text-indent: -0.43em;}
}

.source-ref {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    &.outdent {text-indent: -0.37em;}
}

sup {
    position: relative;
    vertical-align: top;
    font-family: 'Crimson Pro', serif;
    font-size: 0.7em;
    top: -0.24em;
    margin-left: 0.2em;
}

.featured {

    padding-top: 4rem;
    padding-bottom: 4.5rem;

    p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 3.6rem;
        max-width: 100%;
        padding-left: 0;
    }
}

.image-small, .image-medium {
    position: relative;
    font-size: 2rem;
    margin: 0 0 1.2em 0;
    width: 100%;
    p {
        padding-left: 0;
        max-width: 100%;
    }
}

.image-small {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    img {
        width: $col-2;
        padding-left: $main-inner-padding;
    }

    figcaption {
        width: $col-1;
        padding-right: $main-inner-padding;
    }
}

.image-medium {
    figcaption {
        position: absolute;
        font-size: 2rem;
        margin-top: 1.2em;
        width: $col-1;
        padding-right: $main-inner-padding;
    }
}

.image-headline {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d6d6d6;
    width: 50%;
    height: 100%;
    margin: 0;
    z-index: -10;
}
